<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Eric's Portfolio </title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class='navbar navbar-expand-md navbar-dark bg-dark fixed-top'>
    <div class='container-fluid'>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarResponsive'>
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item active'>
            <a class='nav-link' href='#'>Home</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#aboutMe'>About</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#portfolio'>Portfolio</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#contactInfo'>Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class='carousel-inner'>
    <div class='carousel-item active'>
      <img src='css/img/blackAbstract.jpg'>
      <div class='carousel-caption'>
        <h1 class='display-2'>Portfolio of Eric Taylor</h1>
        <h3>Graphic and web designer</h3>
      </div>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2'>
    </div>
  </div>


  <div class=' container-fluid padding'>
    <div class=' row welcome text-center'>
      <div class='col-12'>
        <h1 class='display-4'> Meet the creator</h1>
      </div>
      <hr>
      <div class='col-12'>
        <p class='lead'></p>
      </div>
    </div>
  </div>


  <div class='container-fluid padding' id="aboutMe">

    <div class='row padding'>
      <div class='col-xs-12 col-md-12 col-lg-6'>

        <h2 class="aboutMeInfo">About me...</h2>
        <p class="aboutMeStuff">I was born and raised in Orange County living in various cities throughout the years. I have always been into computers
          and design from a young age constantly drawing an working with abobe programs starting a version 1.0. I attending
          IVC for graphic design to round out the skills that I self taught over years of doing freelance work. I moved down
          to San Diego 5 years ago for a change of pace.</p>
        <p class="aboutMeStuff2">Since moving down to San Diego I enrolled in Origin Cody Academies bootcamp to move more into the web development
          side of design.</p>
        <p class="aboutMeStuff3">I am knowledgeable in Adobe Photoshop, Illustrator, HTML, CSS and Javascript(vanilla & React). </p>
        <br>

      </div>
      <div class='col-md-12 col-lg-6'>
        <img src='css/img/CurlyandI.jpg' class='image-fluid'>
      </div>
    </div>
  </div>


  <!--- Hidden cat pics Section -->
  <button class='cats' data-toggle='collapse' data-target='#cats'></button>
  <div id='cats' class='collapse'>
    <div class='container-fluid padding'>
      <div class='row text-center'>
        <div class='col-sm-6 col-md-3'>
          <h3>Henry</h3>
          <img class='catImages' src='css/img/smaller/henry.jpg'>
        </div>
        <div class='col-sm-6 col-md-3'>
          <h3>Nora</h3>
          <img class='catImages' src='css/img/smaller/nora.jpg'>
        </div>
        <div class='col-sm-6 col-md-3'>
          <h3>Ginger</h3>
          <img class='catImages' src='css/img/smaller/ginger.jpg'>
        </div>
        <div class='col-sm-6 col-md-3'>
          <h3>Midnight</h3>
          <img class='catImages' src='css/img/smaller/midnight.jpg'>
        </div>
        <div class='col-sm-6 col-md-3'>
          <h3>Curly Bear</h3>
          <img class='catImages' src='css/img/smaller/curlyBear.jpg'>
        </div>
        <div class='col-sm-6 col-md-3'>
          <h3>Godiva</h3>
          <img class='catImages2' src='css/img/smaller/godiva.jpg'>
        </div>
        <div class='col-sm-6 col-md-3'>
          <h3>Gem</h3>
          <img class='catImages2' src='css/img/smaller/gem.jpg'>
        </div>
        <div class='col-sm-6 col-md-3'>
          <h3>Shadow</h3>
          <img class='catImages2' src='css/img/smaller/shadow.jpg'>
        </div>
      </div>
    </div>
  </div>


  <div class='container-fluid padding'>
    <div class='row welcome text-center'>
      <div class='col-12'>
        <h1 class='display-4' id='portfolio'>Portfolio apps</h1>
      </div>
      <hr>
    </div>
  </div>

  <div class='container-fluid padding' id='portfolioBackground'>
    <div class='row padding'>
      <div class='col-md-4'>
        <div class='card'>
          <img class='card-img-top' src='css/img/apps/ChangeCalculator.jpg'>
          <div class='card-body'>
            <h4 class='card-title'>Change Calculator</h4>
            <p class='card-text'>This creates change because you can't count</p>
            <a href='https://et-change-calculator2.herokuapp.com/' class='btn btn-outline-secondary'>See App</a>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
        <div class='card'>
          <img class='card-img-top' src='css/img/apps/vstda.jpg'>
          <div class='card-body'>
            <h4 class='card-title'>Todo App</h4>
            <p class='card-text'>Find out what you want to do today</p>
            <a href='https://et-vstda2.herokuapp.com/' class='btn btn-outline-secondary'>See App</a>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
        <div class='card'>
          <img class='card-img-top' src='css/img/apps/topSpots.jpg'>
          <div class='card-body'>
            <h4 class='card-title'>Top Spots</h4>
            <p class='card-text'>Find boring things to do.</p>
            <a href='https://et-top-spots2.herokuapp.com/' class='btn btn-outline-secondary'>See App</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class='my-4'>

  <div class='container-fluid padding'>
    <div class="row text-center padding">
      <div class='col-12'>
        <h2>Connect</h2>
      </div>
      <div class='col-12 social padding'>
        <a href='https://www.facebook.com/ILoveFunnyCatPicturesALot/'>
          <i class='fab fa-facebook'></i>
        </a>
        <a href='https://www.instagram.com/the_furry_dictator/'>
          <i class='fab fa-instagram'></i>
        </a>
        <a href='https://www.youtube.com/channel/UCBZEfeBhZtSMdzLmr81pp_w'>
          <i class='fab fa-youtube'></i>
        </a>
        <a href='https://twitter.com/picturecats?lang=en'>
          <i class='fab fa-twitter'></i>
        </a>
      </div>
    </div>
  </div>

  <footer>
    <div class='container-fluid padding' id='contactInfo'>
      <div class='row text-center'>

        <div class='col-md-12'>
            <div>
                <form action="/thanks" method="POST">
                  <label for="firstName">First Name:</label>
                  <input id="firstName" name="firstName" type="text">
          
                  <label for="lastName">Last Name:</label>
                  <input id="lastName" name="lastName" type="text">
          
                  <label for="email">Email:</label>
                  <input id="email" name="email" type="text">
          
                  <input type="submit" class='btn btn-outline-secondary'/>
                </form>
              </div>
              
          <!-- <hr class='light'>
          <p>555-555-5555</p>
          <p>Vigne6@gmail.com</p>
          <p>San Diego,CA</p> -->
        </div>

        <div class='col-12'>
          <hr class='light'>
          <h5>&copy; DravenDesigns.com</h5>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>