<html>
  <head>
    <title>Eric Thanks You</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body id="thankYou">
    <div id='thankYouText'>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </div>
    <div>
        <a class='nav-link2' href='http://localhost:5000/'>Home</a>
    </div>
  </body>
</html>